.text-area {
    width: 100%;
}

.btn {
    border-radius: 0;
}

.close-btn {
    /*border-radius: 50%;*/
}

.larger-col {
    padding-right: 0;
}

label  {
    padding-top: 10px;
}

body {
    //background-color: #5B6666;
    background-color: #EAEAEA;
    background-color: #D1D1D1;
    color: black;





        background-color: #C6C6C6;
        background-color: #D5D7D6;
        background-color: #AAACA5;


}

.col-header {
    border-bottom: solid 5px #aaa;
    margin-bottom: 10px;
    padding: 10px;
}

.col-footer {
    border-top: solid 5px #aaa;
    padding: 10px;
}

.minimized {
    display: none;
}

.minimized > .form-group {
    margin-bottom: 0;
}

.maximized {
    display: inline-block;
}

/*.filter-limit:not(:nth-last-of-type) {*/
.filter-limit {
    background-color: #EAEAEA;
    padding: 10px;
    padding-bottom: 0;
    border-bottom: solid 1px #EAEAEA;
    color: black;
    margin-bottom: 5px;

}

.glyphicon-remove {
    color: red;
}

.glyph-button {
    background-color: rgba(255, 0, 0, 0);
}
