/*.text-area {
    width: 100%;
    height : 300px;
}*/

textarea{
width:400px;
height:100px;
}
/*
[class^='col-'] {
    padding : 0px;
    margin : 0px;
}*/

.btn {
    border-radius: 0;
}

.larger-col2 {
    padding-right: 0;
}

label  {
    padding-top: 10px;
}

body {
    background-color: #5B6666;
    background-color: #EAEAEA;
    background-color: #D1D1D1;
    color: black;





        background-color: #C6C6C6;
        background-color: #D5D7D6;
        background-color: #AAACA5;
        background-color: #D8D8D8;
        background-color: #D1CCC8;
        /*background-color: white;*/

    font-size : 12px;
}

.col-header {
    border-bottom: solid 5px #aaa;
    margin-bottom: 10px;
    padding: 10px;
}

.col-footer {
    border-top: solid 5px #aaa;
    padding: 10px;
}

.minimized {
    display: none;
}

.maximized {
    display: inline-block;
    /*margin-bottom: 10px;*/
}

/*.filter-limit:not(:nth-last-of-type) {*/
.filter-limit {
    background-color: #EAEAEA;
    background-color: #E6E6E6;
    background-color: #EAE5E1;
    /*background-color: #D1CCC8;*/
    padding: 10px;
    padding-bottom: 0;
    border-bottom: solid 1px #EAE5E1;
    color: black;
    margin-bottom: 10px;

    /*box-shadow: inset 0px 0px 5px gray;*/
    /*box-shadow: 0px 0px 5px gray;*/
    position : relative;
}

.glyphicon-remove {
    color: red;
}

.glyph-button {
    background-color: rgba(255, 0, 0, 0);
}

.close-btn {
    position : absolute;
    /*background-color : gray;*/
    width : 30px;
    height : 30px;
    right : 10px;
    top : 0;
}

.min-btn {
    position : absolute;
    /*background-color : gray;*/
    width : 30px;
    height : 30px;
    right : 50px;
    top : 0;
}


.form-control {
    font-size : 1.2rem;
    font-weight : bold;
    padding: 3px 6px;
    border-radius: 0;
}
